VITE_SUPABASE_URL=https://dwxqovoinuyurileljrp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3eHFvdm9pbnV5dXJpbGVsanJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NDg0NTMsImV4cCI6MjA5NDUyNDQ1M30.DtlcWG1HQ2jUPyWdHHsNRoOgKKZHN5qRpgnWGgPYWAk
VITE_GOOGLE_CLIENT_ID=y1082832456403-uk5og19od2idu1cpcgbhtqe8n00q9e5u.apps.googleusercontent.com
